.off-screen {
  background-color: $light-red;
  height: 100vh;

  .off-screen-inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: -webkit-fill-available;

    h1 {
      color:white;
      transform-origin: left;
      transform: translateY(0)
      translateX(50%) rotate(-90deg);
      text-align: left;
      margin: 0;
      font-size: 2rem;
      white-space: nowrap;
    }

    a {
      color: white;
      text-decoration: none;
      opacity: 1;
      transition: opacity ease-in-out .1s;

      &:hover {
        opacity: .7;
      }
    }

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        transform: none;
        translate: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    height: fit-content;
  }
}
